 
  body{
    background-color: #F7F6F4;
    color: #373737;
    font-family: 'Georgia';
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 5%;
    font-size: 20px;
    margin-bottom: 5%;
    box-sizing: border-box;
  }
  
  .img {
    float: left; 
    border-radius: 50%;
    height: 300px;
  }
    
  .me__title_main {
    text-align: right;
  }
  
  h1 {
    font-size: 35px; 
  }
  
  .me__title {
    margin: auto;
    text-align: right;
  }
  
  a {
    display: flex;
    flex-direction: row-reverse;
    text-decoration: none;
    font-size: 26;
    color: #373737;
  }
  
    
  a:hover {
    text-decoration: underline;
    }
  
  a:active {
    color: #2766dc
  }
  
  .title {
    font-size: 30px;
    font-weight: bold;
  }
  
  .title_contact {
    font-size: 30px;
    font-weight: bold;
    text-align: right;
  }
  
  .title::after {
    margin-bottom: 10px;
  }
  
  .contact_info {
    margin-bottom: 10px;
    text-align: right;
  }
  
  .contact__link {
    font-size: 18px;
    text-align: right;
  }
    
  .about {
    margin-top: 10%;
    margin-bottom: 10px;
  }
    
  .skills__list {
      display: flex;
      flex-direction: column;
      gap: 10px;
  }
  
  .language__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .education__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .skills__item {
    margin-bottom: 5px;
  }
  
  .language__item {
    margin-bottom: 5px;
  }
  
  .education__item {
    margin-bottom: 5px;
  }
  
  .code_example {
    margin-bottom: 20px;
  }
  
  .container_for_code {
    display: flex; 
    background-color: #d8c9f756;
    width: auto;
  }
  
  code {
    margin: 15px;
    padding: 15px:
  }